.announcement__description {
  margin-top: 20px;
  padding-top: 14px;

  @media (min-width: @tablet-width) {
    margin-top: 28px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 32px;
  }

  &--form {
    margin-top: 22px;

    @media (min-width: @tablet-width) {
      margin-top: 50px;
    }

    @media (min-width: @desktop-width) {
      margin-top: 88px;
    }
  }

  &--catalog {
    margin-top: 18px;

    @media (min-width: @tablet-width) {
      margin-top: 51px;
    }

    @media (min-width: @desktop-width) {
      margin-top: 76px;
    }
  }
}
