.description-text {
  text-transform: uppercase;
  text-align: center;
}

.description-text__heading {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin: 0 26px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.description-text__content {
  font-size: 14px;
  line-height: 26px;
  color: @dark-black;
  margin: 30px 20px;
}

.description-text__heading--form {
  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}
