.description-text {
  text-transform: uppercase;
  text-align: center;
}

.description-text__heading {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin: 0 26px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    margin: 0 75px;
  }

  @media (min-width: @desktop-width) {
    margin: 11px 291px;
  }

  &--form {
    @media (min-width: @tablet-width) {
      font-size: 30px;
    }
  }

  &--hotel {
    font-size: 21px;

    @media (min-width: @tablet-width) {
      font-size: 30px;
      line-height: 26px;
    }
  }
}

.description-text__content {
  font-size: 14px;
  line-height: 26px;
  color: @dark-black;
  margin: 30px 20px;

  &--form {
    line-height: 24px;
    margin: 28px 20px;
  }

  &--hotel {
    line-height: 24px;
    margin: 21px 0 29px 0;

    @media (min-width: @tablet-width) {
      margin-top: 36px;
      margin-bottom: 38px;
    }

    @media (min-width: @desktop-width) {
      margin-top: 34px;
      margin-bottom: 44px;
    }
  }
}
