.fact {
  text-align: center;
  background-color: @special-grey;

  &--colored {
    color: @basic-white;
    background-color: @light-blue;
    background-image: url("../img/reverse-triangle.svg");
    background-repeat: no-repeat;
    background-position: right -4px;
    background-size: contain;

    @media (min-width: @tablet-width) {
      display: flex;
      background-image: none;
    }

    p {
      color: @basic-white;
    }

    span {
      color: @basic-white;
    }

    img {
      display: block;
      height: 260px;
      width: 100%;

      @media (min-width: @tablet-width) {
        height: 255px;
      }

      @media (min-width: @desktop-width) {
        width: 800px;
      }
    }
  }

  &--notriangle {
    background-image: none;
  }

  &--reverse {
    @media (min-width: @tablet-width) {
      flex-direction: row-reverse;
    }
  }
}

.fact__info {
  padding-top: 71px;
  padding-bottom: 27px;

  @media (min-width: @tablet-width) {
    width: 343px;
    padding: 42px 34px 0 37px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
    padding: 50px 64px 0 65px;
  }

  &--bottom {
    padding-top: 41px;
    padding-bottom: 23px;

    @media (min-width: @desktop-width) {
      padding-top: 54px;
      padding-bottom: 23px;
      padding-left: 89px;
      padding-right: 91px;
    }
  }

  &--first {
    padding-top: 28px;
  }

  &--second {
    padding-top: 12px;

    @media (min-width: @tablet-width) {
      padding: 46px 20px;
    }
  }

  &--third {
    padding-top: 13px;
    padding-bottom: 12px;
  }

  &--grey {
    padding-left: 36px;
    padding-right: 37px;

    @media (min-width: @tablet-width) {
      padding: 47px 20px 28px;
      width: 256px;
    }

    @media (min-width: @desktop-width) {
      padding: 47px 0 28px;
      width: 256px;
    }
  }
}

.fact__heading {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin-top: -3px;
  margin-bottom: 12px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 28px;
  }

  &--second {
    @media (min-width: @tablet-width) {
      padding: 0 20px;
    }

    @media (min-width: @desktop-width) {
      padding: 0 50px;
    }
  }

  &--third {
    @media (min-width: @tablet-width) {
      padding: 0 30px;
    }

    @media (min-width: @desktop-width) {
      padding: 0 50px;
    }
  }

  &--bottom {
    @media (min-width: @tablet-width) {
      padding: 3px 18px 2px 14px;
    }

    @media (min-width: @desktop-width) {
      padding: 0 35px;
    }
  }
}

.fact__content {
  color: @dark-black;
  margin-top: 16px;

  @media (min-width: @tablet-width) {
    margin-top: 23px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 24px;
  }


  &--second {
    @media (min-width: @tablet-width) {
      width: 178px;
      padding-left: 34px;
    }

    @media (min-width: @desktop-width) {
      padding-left: 0;
      width: 258px;
    }
  }

  &--third {
    @media (min-width: @tablet-width) {
      width: 188px;
      padding-left: 29px;
    }

    @media (min-width: @desktop-width) {
      padding-left: 0;
      width: 258px;
    }
  }
}

.fact__number {
  color: @dark-black;
  padding-top: 20px;
}
