.facts {
  background-color: @special-grey;

  @media (min-width: @tablet-width) {
    width: 768px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.facts__list {
  .clear-list;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}
