.feedback {
  margin-top: 204px;

  textarea {
    font-size: 18px;
    line-height: 26px;
    width: 280px;
    height: 160px;

    @media (min-width: @tablet-width) {
      width: 648px;
    }

    @media (min-width: @desktop-width) {
      width: 960px;
    }
  }

  button {
    margin: 0 auto;
    display: block;

    @media (min-width: @tablet-width) {
      margin-right: 217px;
    }

    @media (min-width: @desktop-width) {
      margin-right: 518px;
    }
  }
}

.feedback__form {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  fieldset {
    border: 0;
    margin: 0 auto;
  }

  label {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 288px;
  }
}

.feedback__border-wrapper {
  border-top: 1px solid @basic-grey;
  padding-top: 19px;

  &--contacts {
    padding-top: 13px;
  }
}

.feedback__fieldname {
  line-height: 26px;
  margin-right: 15px;
  margin-top: 6px;
  margin-left: 9px;

  @media (min-width: @tablet-width) {
    margin-right: 70px;
    width: 528px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 0;
    width: 290px;
  }

  &--phone {
    margin-right: 91px;
    margin-bottom: 7px;
  }

  &--mail {
    margin-right: 108px;
  }
}

.feedback__field {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  padding: 20px 0 14px 22px;
  background-color: @light-grey;
  width: 100%;
  border: none;
  font-family: "Pt sans", "Arial", sans-serif;

  &::placeholder {
    color: @basic-black;
  }

  &--contacts {
    padding: 20px 0 14px 32px;
  }
}

.feedback__personal {
  @media (min-width: @tablet-width) {
    width: 280px;
  }
}

.feedback__contacts {
  label {
    flex-direction: column;
    margin-bottom: 9px;
  }

  input {
    @media (min-width: @tablet-width) {
      width: 648px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 960px;

    label {
      flex-direction: row;
      flex-wrap: nowrap;
      width: 445px;
    }
  }
}

.feedback__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  margin: 12px auto;
  text-align: center;

  &--contacts {
    margin-bottom: 5px;
  }
}

.feedback__input-text {
  &--phone {
    position: relative;
    width: 280px;
    margin-left: 9px;

    &::after {
      content: "";
      position: absolute;
      background-color: @icon-grey;
      background-image: url("../img/phone.svg");
      background-repeat: no-repeat;
      background-position: 20px 20px;
      width: 58px;
      height: 58px;
      right: 7px;
      bottom: 0;
    }
  }
}

.feedback__container-contacts {
  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.feedback__container-item {
  @media (min-width: @desktop-width) {
    width: 432px;
    margin-right: 38px;
  }
}

.feedback__emotion {
  @media (min-width: @tablet-width) {
    width: 322px;
    order: -1;
  }
}

.feedback__visited {
  label {
    margin: 0 auto;

    @media (min-width: @tablet-width) {
      margin-left: 74px;
      width: 192px;
    }
  }
}

.feedback__visited-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 586px;
  }

  @media (min-width: @desktop-width) {
    flex-wrap: nowrap;
    width: 960px;
  }
}

.feedback__review {
  @media (min-width: @tablet-width) {
    width: 680px;
  }

  @media (min-width: @desktop-width) {
    width: 980px;
  }

  label {
    display: block;
  }
}

.feedback__submit {
  @media (min-width: @tablet-width) {
    display: flex;
    margin: 0 auto;
  }
}

.feedback__required {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}
