.feedback {
  span {
    line-height: 26px;
  }

  input {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;

    &::placeholder {
      color: @basic-black;
    }
  }

  textarea {
    font-size: 18px;
    line-height: 26px;
  }
}
