.hotel-search {
  margin-top: 32px;
  margin-bottom: 49px;

  @media (min-width: @tablet-width) {
    margin-top: 56px;
    margin-bottom: 62px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 66px;
  }
}

.hotel-search__button {
  @media (min-width: @tablet-width) {
    width: 458px;
  }
}
