.main-nav {
  display: flex;
  flex-direction: column;
  background-color: @light-blue;
  text-align: center;

  @media (min-width: @tablet-width) {
    background-color: @basic-white;
  }

  &--opened {
    box-shadow: inset 0 -7px 10px -5px @wrapper-shadow;

    @media (min-width: @tablet-width) {
      box-shadow: none;
    }
  }
}

.main-nav__item {
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 4px;
  border-top: 1px solid @border-light-blue;
  border-bottom: 1px solid @border-blue;

  a {
    display: block;
    text-decoration: none;
    color: @basic-white;
    text-align: center;

    @media (min-width: @tablet-width) {
      font-size: 14px;
      width: 150px;
      color: @basic-black;

      &:hover {
        color: @light-blue;
      }

      &:active {
        color: @basic-black;
        opacity: 0.3;
      }
    }

    @media (min-width: @desktop-width) {
      width: 240px;
    }
  }

  @media (min-width: @tablet-width) {
    border: 0;
  }

  &:hover {
    background-color: @basic-blue;

    @media (min-width: @tablet-width) {
      background-color: @basic-white;
    }
  }

  &:active {
    background-color: @dark-blue;
    opacity: 0.3;

    @media (min-width: @tablet-width) {
      background-color: @basic-white;
    }
  }
}

.main-nav__menu-list {
  .clear-list;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-nav__toggle {
  border-style: none;
  border: 0;
  outline: 0;
  background-color: transparent;
  width: 23px;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 27px;

  @media (min-width: @tablet-width) {
    display: none;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__placeholder {
  padding: 0;
  border: 0;
}
