.main-screen {
  background-image: url("../img/intro-triangle.svg"), url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: auto, cover;
  background-position: bottom, center top;
  height: 385px;
  margin-top: 3px;

  @media (min-width: @tablet-width) {
    height: 518px;
    background-image: url("../img/intro-triangle-tablet.svg"), url("../img/back-desktop.jpg");
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/intro-triangle-desktop.svg"), url("../img/back-desktop.jpg");
  }

  &--form {
    height: 157px;
    background-position: center bottom, bottom;
    background-size: auto auto;
    margin-top: 0;

    @media (min-width: @tablet-width) {
      height: 290px;
    }

    @media (min-width: @desktop-width) {
      height: 302px;
    }
  }
}

.main-screen__welcome-text {
  text-align: center;
  padding-top: 87px;

  img {
    @media (min-width: @tablet-width) {
      width: 461px;
    }
  }

  @media (min-width: @tablet-width) {
    padding-top: 77px;
  }
}

.main-screen__description {
  margin-top: 100px;
  padding-top: 14px;

  @media (min-width: @tablet-width) {
    margin-top: 116px;
  }

  &--form {
    margin-top: 84px;

    @media (min-width: @tablet-width) {
      margin-top: 164px;
    }

    @media (min-width: @desktop-width) {
      margin-top: 207px;
    }
  }

  &--catalog {
    margin-top: 79px;

    @media (min-width: @tablet-width) {
      margin-top: 158px;
    }

    @media (min-width: @desktop-width) {
      margin-top: 195px;
    }
  }
}

.main-screen__sedona-text {
  text-align: center;
  padding-top: 51px;

  @media (min-width: @tablet-width) {
    padding-top: 100px;
  }

  img {
    @media (min-width: @tablet-width) {
      width: 460px;
    }
  }
}
