.map {
  margin-bottom: 40px;

  img {
    display: block;
    height: 260px;
    width: 100%;
    margin: 0 auto;

    @media (min-width: @tablet-width) {
      width: 768px;
    }

    @media (min-width: @desktop-width) {
      width: 1200px;
    }
  }
}
