.page-header {
  position: relative;
}

.page-header__logo {
  position: absolute;
  left: 50%;
  top: 80%;
  height: 84px;
  margin-left: -52px;
  text-align: center;

  @media (min-width: @tablet-width) {
    top: 0;
    height: 84px;
  }

  @media (min-width: @desktop-width) {
    top: 0;
    height: 96px;
  }
}

.page-header__menu-bar {
  height: 56px;
  position: relative;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-header__toggle {
  position: absolute;
  background-color: @basic-white;
  border-style: none;
  border: 0;
  outline: 0;
  width: 23px;
  right: 28px;
  top: 19px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
