.social-list {
  .clear-list;
  display: flex;
  justify-content: center;
  margin-left: 5px;

  @media (min-width: @tablet-width) {
    margin-top: -31px;
    margin-right: 62px;
    margin-left: 0px;
    width: 260px;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    margin-top: -32px;
    margin-right: 148px;
    margin-left: 85px;
    width: 405px;
  }
}

.social-list__item {
  display: flex;
  justify-content: center;
  background-color: @light-blue;
  width: 46px;
  height: 48px;
  margin-right: 6px;

  &:nth-child(2) {
    width: 47px;
  }

  @media (min-width: @tablet-width) {
    margin-top: 5px;
  }

  &:hover {
    background-color: @basic-blue;
  }

  &:active {
    background-color: @dark-blue;

    svg {
      opacity: 0.3;
    }
  }
}

.social-list__button {
  padding: 15px;
}
