//colors

@light-black: #5C6870;
@basic-black: #000000;
@dark-black: #333333;
@light-blue: #81B3D2;
@basic-blue: #669EC0;
@dark-blue: #5496BD;
@light-brown: #766357;
@basic-brown: #604E43;
@basic-white: #ffffff;
@light-grey: #F2F2F2;
@basic-grey: #E5E5E5;
@dark-grey: #D5D5D5;
@special-grey: #EEEEEE;
@wrapper-shadow: rgba(0,1,1,0.2);
@border-blue: #678FA8;
@border-light-blue: #9AC2DB;
@icon-grey: #E6E6E6;
@grey-line: #DBDBDB;
@black-opacity: rgba(0,0,0,0.6);
@black-high-opacity: rgba(0, 0, 0, 0.3);
@white-timeline: rgba(255, 255, 255, 0.3);
@unique-grey: #EAEAEA;
@grey-current: #766357;
@grey-current-dark: #604E43;

//viewports

@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;

//fonts

@ff-pt-sans: "Pt sans", "Arial", sans-serif;
